<div class="sizing-container">
  <div class="content">
    <div class="rktLogo">
      <img src="assets/RktLogo.png" alt="Rocket Close">
    </div>
    <div class="user-list">
      @for (user of userNames; track user; let i = $index) {
        <div class="user-item">
          <div class="user-name">{{ user }}</div>
          <div class="user-number">
            @if (clickedNumbers[i] === null) {
              <span>{{ displaySymbol[i] }}</span>
            }
            @if (clickedNumbers[i] !== null && !isRevealed) {
              <span>{{ tickMark }}</span>
            }
            @if (isRevealed && clickedNumbers[i] !== null) {
              <span class="number-box-inline">{{
              clickedNumbers[i] }}</span>
            }
          </div>
        </div>
      }
    </div>
    @if (isRevealed) {
      <div class="average-container">
        <label class="average-label">Average:</label>
        <span class="average-value">{{ calculateAverage() }}</span>
      </div>
    }
    <div class="controls">
      <div class="box">
        <button class="button" (click)="onReveal()">Reveal</button>
        <button class="button" (click)="onReset()" style="margin-top: 10px;">Reset</button>
      </div>
      @if (isRevealed) {
        <div class="robot-container">
          <img [src]="robotImage" alt="Robot" class="robot-image">
        </div>
      }
    </div>
    <div class="number-boxes">
      @for (number of numbers; track number) {
        <div class="number-box" (click)="onNumberClick(number)">
          {{ number }}
        </div>
      }
    </div>
  </div>
</div>